@use "tailwindcss" as tailwind;
@use "./app.css";
@use "./code.css";

@import "remixicon/fonts/remixicon.css";

code,
pre,
pre code {
    font-family: "JetBrains Mono", monospace !important;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--color-primary);
}

@layer base {
    html,
    body {
        @apply h-full;
    }
    body {
        @apply bg-background text-foreground text-base font-text font-semibold;
    }
    b,
    strong {
        @apply font-bold text-primary font-text;
    }
}

@layer utilities {
    .no-scrollbar {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            @apply w-0 h-0;
        }
    }
    ::-webkit-scrollbar {
        @apply w-[0.4rem] h-[0.4rem] bg-zinc-300 dark:bg-zinc-600 rounded;
        &-thumb {
            @apply bg-zinc-600 dark:bg-zinc-400 rounded;
        }
    }
}
