@import "tailwindcss";
@plugin "tailwindcss-animate";
@import "tailwindcss" important;

@custom-variant dark (&:is(.dark *));

:root {
    --text: "Nunito Sans", sans-serif;
    --title: "Montserrat", sans-serif;
    --code: "JetBrains Mono", monospace;

    --background: #ffffff;
    --foreground: #0a0a0a;

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.525 0 0);
    --default: oklch(94.969% 0.00277 285.769);
    --default-foreground: oklch(0.225 0 0);
    --primary: rgba(14, 16, 38, 1);
    --primary-foreground: oklch(1 0 0);
    --accent: #08c2b6;
    --accent-foreground: oklch(1 0 0);
    --ghost: #f5f5f5;
    --ghost-foreground: #33354d;
    --warning: oklch(0.82 0.15 75.63);
    --warning-foreground: oklch(0.22 0.01 0);
    --success: oklch(0.55 0.18 142.05);
    --success-foreground: oklch(1 0 0);
    --info: oklch(0.49 0.21 267);
    --info-foreground: oklch(1 0 0);
    --destructive: oklch(0.52 0.19 24.73);
    --destructive-foreground: oklch(1 0 0);

    --border: oklch(92.2% 0 0);
    --input: oklch(92.2% 0 0);
    --ring: oklch(70.8% 0 0);
}

.dark {
    --background: #171717;
    --foreground: #fafafa;
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --default: oklch(0.269 0 0);
    --default-foreground: oklch(0.985 0 0);
    --primary: #ffffff;
    --primary-foreground: #0e1026;
    --accent: #08c2b6;
    --accent-foreground: #fff;
    --ghost: #262626;
    --ghost-foreground: #a1a1a1;
    --warning: #f08800;
    --warning-foreground: oklch(55.5% 0.163 48.998);
    --success: #15803d;
    --success-foreground: #ffffff;
    --info: #1d4ed8;
    --info-foreground: #ffffff;
    --destructive: #ffb4ab;
    --destructive-foreground: #ba1a1a;

    --border: #262626;
    --input: #262626;
    --ring: #525252;
}

@theme inline {
    --font-text: var(--text);
    --font-title: var(--title);
    --font-code: var(--code);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-default: var(--default);
    --color-default-foreground: var(--default-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-ghost: var(--ghost);
    --color-ghost-foreground: var(--ghost-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
}
