<div class="z-60 fixed top-0 flex items-center bg-background/95 backdrop-blur supports-backdrop-filter:bg-background/60 w-full px-4 md:px-6">
    <div class="relative flex justify-between h-14 mx-auto w-full lg:container lg:px-12">
        <div class="flex items-center gap-x-2">
            <ai-button variant="ghost" 
                size="sm" 
                shape="circle" 
                class="flex lg:hidden"
                [icon]="openMenu() ? 'close' : 'menu'"
                (click)="toggleMenu()" />

            <img src="./img/logo.svg" class="dark:invert" alt="logo" width="28" />

            <div class="hidden md:flex items-center gap-x-2 ml-4">
                @for (item of items; track item.name) {
                    <ai-button variant="ghost" size="sm" shape="circle" [routerLink]="item.path">
                        {{ item.name }}
                        @if (!item.available) {
                            <ai-badge class="py-0 px-1">soon</ai-badge>
                        }
                    </ai-button>
                }
            </div>
        </div>

        <div class="flex ml-auto items-center gap-x-2.5">
            <div class="hidden lg:flex items-center gap-x-2.5">
                <ai-input-search />
                <ai-separator orientation="vertical" class="h-4 bg-border" />
            </div>

            <ai-button [icon]="theme() === 'dark' ? 'sun' : 'moon'" (click)="change()" size="xs" variant="ghost" />

            <ai-separator orientation="vertical" class="h-4 bg-border" />

            <ai-button icon="github" size="xs" variant="ghost" />
        </div>
    </div>
</div>