<ai-header />

<ai-mobile-menu />

<main class="flex items-start max-w-(--breakpoint-2xl) min-h-min mx-auto px-4 lg:px-12 h-full relative">
    <div class="z-30 sticky top-14 hidden lg:block">
        <aside class="w-[16rem] max-h-[calc(100vh-3.5rem)] bg-transparent border-r border-r-border px-3 py-4 h-screen flex-col flex shrink-0">
            <nav class="flex min-h-0 flex-1 flex-col gap-2 overflow-y-auto no-scrollbar">
                @for (path of sidenavPaths; track $index) {
                    <div class="relative flex w-full min-w-0 flex-col p-2">
                        <ul class="flex w-full min-w-0 flex-col gap-0.5">
                            <h1 class="flex shrink-0 items-center h-8 px-2 text-[0.8rem] font-text outline-hidden text-muted-foreground font-medium">
                                {{ path.title }}
                            </h1>
    
                            @for (item of path.data; track $index) {
                                <li class="relative">
                                    <a ai-button class="justify-between px-2 py-1 font-normal max-w-48"
                                        size="sm"
                                        variant="ghost"
                                        full
                                        [routerLink]="item.path"
                                        routerLinkActive="bg-default text-primary font-semibold"
                                        [routerLinkActiveOptions]="{ exact: true }">
                                        {{ item.name }}
    
                                        @if (!item.available) {
                                            <ai-badge variant="default" class="px-1 py-0">soon</ai-badge>
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
                <div class="from-background via-background/80 to-background/50 pointer-events-none sticky -bottom-1 z-10 h-16 shrink-0 bg-linear-to-t blur-xs"></div>
            </nav>
        </aside>
    </div>

    <section class="flex-1 min-w-0 mt-14">
        <router-outlet />
    </section>
</main>